
.footer {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 36px 28px 30px;
    width: 100%;
    height: 100%;
    &-container{
      margin-top: auto;
      // width: 100%;
      // height: 100%;
    }
    @include phones{
      margin-bottom: rem(10px);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

.footer__col {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    white-space: nowrap;
    
    &--align--right {
      align-items: flex-end;
      svg{
        height: 32px;
        width: 32px;
      }
    }

    @include phones {
      margin-bottom: rem(15px);
      align-items: center;
      justify-content: center;
    }

}

.footer-section{
  min-height: 0;
  height: auto;
}





/* socials.css */

/* Socials */

.map{
  width:100%;
  height: 100%;
  margin-bottom: 30px;
  &__img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }
}

.socials {
  display: flex;
}

.social{
  &__item {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  &__icon{
    fill:#B3B3B3;
    &:hover{
      fill:black;
      transition: .3s;
    }
  }

}

.contacts__desc{
  @include phones{
    color: black;
    margin-bottom: rem(12px);
  }
}



// width="100" height="100"