.hero {
  color: #fff;
  border: 1px solid rgb(255, 0, 234);
  height: 100%;
  background: url(./../../../img/hero_bg.jpg) center top no-repeat #3C5F95;
}
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 36px;
  margin-bottom: 63px;
}
.hero .container .header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.hero .container .header .menu__item {
  margin-right: 28px;
}
.hero .container .header .menu__item:last-child {
  margin-right: 0;
}
.hero .container .header .contacts {
  position: relative;
}
.hero .container .header .contacts::before {
  position: absolute;
  left: -17px;
  top: 1px;
  content: url(./../../img/ico/contacts_phone.png);
}
.hero__content {
  max-width: 54%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 5%;
}
.hero__text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  margin-bottom: 50px;
}
.hero__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.hero__subtitle {
  font-size: 21px;
  margin-bottom: 25px;
}
.hero .feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.hero .feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .feature__text {
  max-width: 50%;
  margin-left: 5px;
}

.btn {
  background: #FEDB3F;
  border-radius: 35px;
  padding: 15px 29px;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 148px;
  text-align: center;
}
.btn:hover {
  background: #FFD517;
  -webkit-box-shadow: 0 0 25px 0 rgba(218, 1, 0, 0.15);
          box-shadow: 0 0 25px 0 rgba(218, 1, 0, 0.15);
}