.hero{
  color: #000;
  // border: 1px solid rgb(255, 0, 234);
  height: 100%;
  
  background-color: $white-bg;
  height: 100vh;
  min-height: 652px;
  position: relative;
  &::before{
    position: absolute;
    content: url("./../../../img/decor_header.png");
    bottom: -30px;
    left: 80%;
  }  
}



.hero__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 25px 0 66px;
  background: url("./../../../img/beats_header.png") right center / 50% auto no-repeat;
}

.hero__title-section{
  width: 35%;
}

.hero__main-title{
  font-style: 48px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hero__title-desc{
  font-style: 21px;
  margin-bottom: 85px;
  padding-right: 10%;
  width: 110%;
}

