.socials {
  display: flex;
}

.social{
  &__item {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  &__icon{
    fill:#B3B3B3;
    &:hover{
      fill:black;
      transition: .3s;
    }
  }

}

.contacts__desc{
  @include phones{
    color: black;
    margin-bottom: rem(12px);
  }
}



// width="100" height="100"